.shiny_text {
    color: rgba(253, 242, 206, 0.76);
    background: linear-gradient(
            120deg,
            rgba(248, 198, 30, 0) 40%,
            rgba(248, 198, 30, 0.8) 50%,
            rgba(248, 198, 30, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

.shiny_text.disabled {
    animation: none;
}
