.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: clamp(0px, 80dvw, 1500px);
    border: 1px solid crimson;

    margin: 0 auto;

    background: black;
}

.title {
    color: white;
}

.text.text {
    color: white;
    font-size: clamp(0.5rem, 3vw, 1.7rem);

    padding: 35px;
}
