.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: clamp(0px, 80dvw, 1500px);
    border: 1px solid crimson;

    margin: 0 auto;

    background: black;
}

.title {
    color: white;
}

.text.text {
    color: white;
    font-size: clamp(1.6rem, 4vw, 1.5rem);
}
